In [ ]:
pip install pyodbc

Defaulting to user installation because normal site-packages is not writeable
Collecting pyodbc
  Downloading pyodbc-5.3.0-cp312-cp312-win_amd64.whl.metadata (2.8 kB)
Downloading pyodbc-5.3.0-cp312-cp312-win_amd64.whl (70 kB)
Installing collected packages: pyodbc
Successfully installed pyodbc-5.3.0
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip is available: 25.0.1 -> 25.3
[notice] To update, run: C:\Users\amitk\AppData\Local\Microsoft\WindowsApps\PythonSoftwareFoundation.Python.3.12_qbz5n2kfra8p0\python.exe -m pip install --upgrade pip

In [9]:
import pyodbc
print(pyodbc.drivers())

['SQL Server', 'Microsoft Access Driver (*.mdb, *.accdb)', 'Microsoft Excel Driver (*.xls, *.xlsx, *.xlsm, *.xlsb)', 'Microsoft Access Text Driver (*.txt, *.csv)', 'Microsoft Access dBASE Driver (*.dbf, *.ndx, *.mdx)', 'PostgreSQL ODBC Driver(ANSI)', 'PostgreSQL ODBC Driver(UNICODE)']

In [8]:
import pyodbc

conn_str = (
    "DRIVER={PostgreSQL ODBC Driver(UNICODE)};"
    "SERVER=localhost;"
    "PORT=5432;"
    "DATABASE=amba;"
    "UID=postgres;"
    "PWD=amit@123;"
)

conn = pyodbc.connect(conn_str)
cursor = conn.cursor()

print("Connected Successfully!")

Connected Successfully!

In [12]:
cursor.execute("""
CREATE TABLE IF NOT EXISTS employee1 (
    id SERIAL PRIMARY KEY,
    name VARCHAR(100),
    salary NUMERIC
);
""")
conn.commit()
print("Table created")

Table created

In [16]:
cursor.execute("""
insert into employee values('Bandana Rani',34,'Hajipur','Engineer')
""")
conn.commit()

In [21]:
cursor.execute("""
select * from employee1;
""")
rows = cursor.fetchall()
print(rows)

[]